<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>FlashResgister</span></strong>
        </div>
        <div class="credits">
            
            Designed by <a href="https://github.com/magnuel14">Magnuel <i class="bi bi-emoji-sunglasses"></i></a>
        </div>
    </div>
</footer><!-- End  Footer -->