<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>Acerca del proyecto</h2>
            <p>Se desea generar una plataforma para la administración de los centros educativos: desarrollo de los cursos,
                expedientes académicos, control de contactos y matrículas, gestión de cobros y pagos(segun el caso),
                asignación de tareas, calendarios y todo el resumen global del centro con reportes,
                gráficas y estadísticas.
                Para asi crear un Campus Virtual para la institución,
                de esta manera conectar con todos los recursos formativos y de comunicación para ofrecer
                una mejor experiencia de aprendizaje y fomentar la participación de profesores y alumnos.
                </p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="/img/profile-img1.gif" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Objetivos de la plataforma.</h3>
                <p class="font-italic">
                 
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i>Agilización de tareas diarias</li>
                            <li><i class="bi bi-chevron-right"></i>Flexibilidad para la extracción de información</li>
                            <li><i class="bi bi-chevron-right"></i>Integración de tareas administrativas y académicas</li>
                            <li><i class="bi bi-chevron-right"></i>Incorporación de canales de información y de comunicación</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i>Integración de tecnologías para el almacenamiento de datos</li>
                            <li><i class="bi bi-chevron-right"></i>Crear cuentas con herramientas diferentes según el tipo de usuario</li>
                            <li><i class="bi bi-chevron-right"></i>Entrega de recursos tecnológicos para los docente y estudiantes</li>
                        </ul>
                    </div>
                </div>
                <p>
                    Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci
                    omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                    Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque
                    neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni
                    laudantium dolores.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Servicios</h2>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="icon"><i class="bi bi-grid-fill"></i></div>
                <h4 class="title"><a href="">Cinta De Opciones</a></h4>
                <p class="description">Interfaz sencillo e intuitivo</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bi bi-clipboard-plus"></i></div>
                <h4 class="title"><a href="">Matriculación</a></h4>
                <p class="description">Gestiona todo el proceso de matriculación</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bi bi-clipboard-check"></i></div>
                <h4 class="title"><a href="">Calificaciones</a></h4>
                <p class="description">Gestion de calificaciones y reportes</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bi bi-person-fill"></i></div>
                <h4 class="title"><a href=""></a>Alumnos</h4>
                <p class="description">Gestiona y controla todos los alumnos de la unidad educativa</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bi bi-vector-pen"></i></div>
                <h4 class="title"><a href="">Profesores</a></h4>
                <p class="description">Gestiona el personal docente</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <div class="icon"><i class="bi bi-list-task"></i></div>
                <h4 class="title"><a href="">Ventanas De Lista</a></h4>
                <p class="description">Ordenación múltiple, agrupación de datos,...</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="600">
                <div class="icon"><i class="bi bi-link-45deg"></i></div>
                <h4 class="title"><a href="">Géstiones Avanzadas</a></h4>
                <p class="description">Todos los datos a tu alcance</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="700">
                <div class="icon"><i class="bi bi-lightbulb"></i></div>
                <h4 class="title"><a href="">Asistente</a></h4>
                <p class="description">Ayuda para la configuración inicial</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="800">
                <div class="icon"><i class="bi bi-envelope-open"></i></div>
                <h4 class="title"><a href="">Solicitudes</a></h4>
                <p class="description">Realiza el seguimiento de solicitudes de información</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="900">
                <div class="icon"><i class="bi bi-shield-fill-check"></i></div>
                <h4 class="title"><a href="">Privacidad (Protección De Datos)</a></h4>
                <p class="description">Seguimiento y tratamiento para gestionar la protección de datos personales.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="1000">
                <div class="icon"><i class="bi bi-screwdriver"></i></div>
                <h4 class="title"><a href="">Mantenimiento</a></h4>
                <p class="description">Copia de seguridad, compactación,...</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="1100">
                <div class="icon"><i class="bi bi-suit-heart"></i></div>
                <h4 class="title"><a href="">Ayuda Y Soporte</a></h4>
                <p class="description">Manual, ayuda contextual y servicio de soporte</p>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Creador</h2>
            <p>Este proyecto se lo ha desarrollado con el paragdima Design Thinking,
                lo que permite aprovechar al maximo el factor creativo y asi diseñar un producto
                que se adapte de mejor manera al usuario final
            </p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="">
                    <div class="testimonial-item" data-aos="fade-up">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            El progreso tecnológico permite disminuir el esfuerzo y aumentar la eficiencia de muchas
                            tareas.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Manuel Vicente</h3>
                        <h4>Creador</h4>
                    </div>
                </div><!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contacto</h2>
        </div>

        <div class="row" data-aos="fade-in">

            <div class="col d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Loja-Ecuador</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>manuelvicente912@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>0993324055</p>
                    </div>

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1824.9263889164736!2d-79.19585967189381!3d-3.9807352789071526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sec!4v1615950371890!5m2!1ses-419!2sec"
                        frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                </div>

            </div>
        </div>

    </div>
</section><!-- End Contact Section -->